@media (min-width:993px)and(max-width:1200px) {

    .background {
        padding: 0px;
    }

    .carousel-caption h1 {
        font-size: 25px;
        font-weight: bold;

    }

    .carousel-caption h2 {
        font-size: 20px;
        font-weight: bold;

    }

    .carousel-caption h3 {
        font-size: 15px;
        font-weight: bold
    }


    .fadi {

        margin-right: 0% !important;
        border: 12px solid #ffffff7a;
        border-radius: 50%;
        height: 150px;

    }

    .btn-danger {

        border-radius: 14%;
        font-weight: 600;
        width: 150px;
        height: 43px;
        border-width: 4px
    }

    .btn {
        font-size: 15px;
        margin-bottom: 1%
    }


}